Source: mmc-emacs
Section: editors
Priority: extra
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: debhelper (>= 5), emacs22 | emacsen
Standards-Version: 3.7.2

Package: mmc-emacs
Architecture: all
Enhances: gnuserv
Depends: emacsen, ${misc:Depends}
Description: Michal Maruska handy elisp function (general utility)
 This should probably be only generically useful code, without
 anything strictly personal.
