#!/usr/bin/make -f

# after debian!
DEB_EMACS_PRIORITY := 51
export DEB_EMACS_PRIORITY

%:
	dh $@

# before my other packages.
#DEB_INSTALL_DOCS_ALL := README RELEASE_NOTES
#DEB_INSTALL_CHANGELOGS_ALL := NEWS
